# Node.js/JavaScript-related
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log
dist/
build/
.eslintcache
.next/
public/
*.tgz

# OS-related files
.DS_Store
Thumbs.db

# IDE-related files
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# Java build artifacts (for Java, Kotlin, or other JVM-based languages)
target/
*.class
*.jar
*.war
*.ear

# Python-related
*.pyc
*.pyo
__pycache__/

# Mac-specific files
.AppleDouble
.LSOverride

# JetBrains (IDE) files
.idea/

# Temporary files
*.log
*.bak
*.swp
*.swo
*.swn

# Log files
*.log

# Environment variables or secret files
.env
.env.local
.env.development
.env.production

# Compiled code or binary files
*.exe
*.dll
*.so
*.dmg
*.iso



# Other custom build folders
coverage/
*.out

# System-related files
Desktop.ini
